<div class="body">

    <div class="track-info">
        <div class="cover" style.background-image="url('{{track.cover}}')"></div>
        <div class="details">
            <h4>{{ track.name | elipsis }}</h4>
            <span>{{ track.artist }}</span>
        </div>
    </div>

    <div class="progress-wrap">
        <input dir="ltr" type="range" class="progress" [value]="getProgress()" min="0" max="100" step="0.01"
            (input)="setGraphicalProgress(duration.value)" ngxDebounceInput (debounceInput)="setRemoteProgress(volume.value)" [debounceTime]="500" #duration>
        <div class="progress-foreground" [style.width.%]="getProgress()"></div>
    </div>

    <div class="timing">
        <small class="current">{{ track.currentTime | timing }}</small>
        <small class="remaining">- {{ track.duration - track.currentTime | timing }}</small>
    </div>

    <div class="controls">
        <i class="nb-shuffle shuffle" [class.active]="shuffle" (click)="toggleShuffle()"></i>
        <i class="stop nb-square" (click)="stop()"></i>
        <i class="play" [class.nb-play]="track.paused" [class.nb-pause]="!track.paused" (click)="playPause()"></i>
        <i class="remove nb-close" (click)="remove()"></i>
        <i class="nb-loop loop" [class.active]="track.looping" (click)="toggleLoop()"></i>
    </div>

</div>

<div class="footer">

    <div class="volume">
        <i class="nb-volume-mute"></i>
        <div class="progress-wrap">
            <input type="range" class="progress" [value]="getVolume()" max="100" (input)="setGraphicalVolume(volume.value)" ngxDebounceInput (debounceInput)="setRemoteVolume(volume.value)" [debounceTime]="80" #volume>
            <div class="progress-foreground" [style.width.%]="getVolume()"></div>
        </div>
        <i class="nb-volume-high"></i>
    </div>

</div>
