<h2> En cours de lecture</h2>
<div class="row playing" >
  <ng-container *ngFor="let song of playingSongs" [@inOutAnimation]>
    <ngx-player  [collapsed]="false" [trackId]="song.playerId"></ngx-player>
  </ng-container>
    <div class="center" *ngIf="playingSongs.length === 0" >
      <p>Pas de titres en cours de lecture !</p>
    </div>

</div>
<!-- | orderBy: 'name':false:'case-insensitive':compareSong-->
<div class="row library-header">
  <h2> Bibliothèque</h2>
  <input type="text" [(ngModel)]="searchText" placeholder="Rechercher dans la biblio" nbInput shape="round">
</div>
<div class="row library">
  <ng-container *ngFor="let song of stoppedSongs| filter:'name':searchText" >
    <ngx-player  [collapsed]="true" [trackId]="song.playerId"></ngx-player>
  </ng-container>
</div>
<!--<div class="row">
  <h2> Bibliothèque</h2>
  <ngx-player [collapsed]="false" *ngFor="let song of songs" *ngIf="players.filter(player => player.trackUrl == song && player.track.paused)." [trackUrl]="song"></ngx-player>
</div>-->
