.library-header{
  display: flex;
  margin-top: 5em;
  margin-bottom : 1em;
  justify-content: space-between;
}
.library{
  display : grid;
  grid-template-columns : repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap : 0.5rem;
}

.center{
  text-align: center;
  width: 100%;
}
